In [4]:
import pymysql
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

# Connect Remote Database

In [27]:
%sql<Database sqlalchemy>

'Connected: ha@pipeline'

In [31]:
%%sql
select * from item limit 10

   mysql+pymysql://ha:***@35.245.49.151
 * mysql+pymysql://ha:***@35.245.49.151/pipeline
   mysql+pymysql://ha:***@35.245.49.151/test
10 rows affected.

[(32281, 'Kimi no Na wa.'),
 (5114, 'Fullmetal Alchemist: Brotherhood'),
 (28977, 'Gintama°'),
 (9253, 'Steins;Gate'),
 (9969, 'Gintama&#039;'),
 (32935, 'Haikyuu!!: Karasuno Koukou VS Shiratorizawa Gakuen Koukou'),
 (11061, 'Hunter x Hunter (2011)'),
 (820, 'Ginga Eiyuu Densetsu'),
 (15335, 'Gintama Movie: Kanketsu-hen - Yorozuya yo Eien Nare'),
 (15417, 'Gintama&#039;: Enchousen')]

# Get Data from Database

In [4]:
%%sql result_set << 
SELECT query_id, state, query 
FROM runtime.queries
LIMIT 2

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

# Load data: csv -> pandas dataframe -> mysql

In [8]:
import pandas as pd

In [11]:
from sqlalchemy import create_engine
engine = create_engine('<Database sqlalchemy>')

In [13]:
anime = pd.read_csv('anime.csv')

In [14]:
anime.to_sql('anime', con=engine, index=False)

In [15]:
rating = pd.read_csv('rating.csv')

In [17]:
rating.to_sql('rating', con=engine, index=False)

In [21]:
user = pd.read_csv('user.csv')
user.to_sql('user', con=engine, index=False)